<div class="letter" id="letter">
  <div class="letter-inner">
    <div class="letter-left">
      <div>
        <strong
          >EASTER BUNNY<br />
          123 CARROT ROAD<br />
          EASTER ISLAND, 88888</strong
        >
      </div>
    </div>
    <div class="letter-right">
      <div class="stamp-container" id="stamp-container">
        <div class="stamp-here-label">STAMP HERE</div>
        <div class="stamp">
          <img src="queen.svg" />
          <div>1ST</div>
        </div>
      </div>
      <div class="stamp-textarea-container">
        <textarea id="letter-content" placeholder="Dear Easter Bunny," class="stamp-textarea" rows="9" cols="28" maxlength="252"></textarea>
      </div>
    </div>
  </div>
</div>
