@model Models.Club.ClubVM

<h1>@ViewData["Titre"]</h1>

<form asp-controller="Club" asp-action="Create"
      method="post">
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Nom :</label>
    <input asp-for="@Model.Nom" class="form-control" id="exampleFormControlInput1" >
</div>
<div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Description :</label>
    <input  asp-for="@Model.Description" class="form-control" id="exampleFormControlTextarea1" rows="3">
</div>
<div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Date de Creation :</label>
    <input asp-for="@Model.DateCreation" type="date" class="form-control" id="exampleFormControlTextarea1" rows="3">
</div>
    <input type="submit" />
</form>


