-- INTERNAL BACKUP CONFIGURATION


TABLES-NOT-TO-BACKUP

  db_heartbeat
  build_set_tmp
  backup_builds
  node_events
  node_tasks
  node_tasks_long_value
  node_locks
  cloud_state_data
  cloud_image_state
  cloud_instance_state
  cloud_instance_start


TABLES-TO-FILTER-BY-BUILDS

  build_data_storage
  build_labels
  compiler_output
  failed_tests_output
  failed_tests
  ignored_tests
  personal_build_relative_path
  stats
  test_info
  test_metadata
  inspection_results
  inspection_stats
  inspection_diff
  duplicate_results
  duplicate_diff
  duplicate_stats
  running
  history
  removed_builds_history
  light_history






