<!DOCTYPE html>
<html lang="en">
<SThead>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GestionClub</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GestionClub.styles.css" asp-append-version="true" />
    

    

<body>
    <header style="margin:20px;">
        <div class="container">
            <div class="d-flex justify-content-between">
                <form asp-controller="Auth" asp-action="Logout" method="post" class="form-inline">
                    <button type="submit" class="btn btn-danger p-2">Déconnexion</button>
                </form>
                <a href="@Url.Action("Create", "Auth")" class="btn btn-primary">Ajouter un administrateur</a>
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        

    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
