@model IEnumerable<Models.Activites.ActiviteVM>


<div class="row mt-3">
    <div class="col-md-12">

        <table class="table">
            <thead>
                <tr>

                    <th>Nom</th>
                    <th>Description</th>
                    
                </tr>
            </thead>

            <tbody>
                @foreach (var act in Model)
                {

                    <tr>


                        <td>@act.Nom</td>
                        <td>@act.Description</td>
                       
                        <td>

                            <a asp-controller="Activite" asp-action="Edit" asp-route-id="@act.Id" class="btn btn-success btn-sm">Editer</a>
                            <a asp-controller="Activite" asp-action="Delete" asp-route-id="@act.Id" class="btn btn-danger btn-sm">Supprimer</a>

                        </td>


                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

